Flask==2.2.5
Werkzeug==2.2.3
Flask-SQLAlchemy==3.0.2
SQLAlchemy==2.0.23
Flask-Login==0.6.2
Flask-WTF==1.1.1
email-validator==2.0.0
python-dotenv==0.19.0
gunicorn==21.2.0
psycopg2-binary==2.9.9
Flask-Migrate==4.0.5
